@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sevillana&display=swap");

:root {
  --main-color: #6b125f;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #a35ca3;
  --cyan-light: #6ac1e4;
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-45: rgba(255, 255, 255, 0.45);
  --white-25: rgba(255, 255, 255, 0.25);
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body,
main::before {
  background-image: linear-gradient(
    to bottom right,
    var(--pink-light),
    var(--cyan-light)
  );
  background-attachment: fixed;
}

/* Success */

.success {
  height: 83vh;
  margin: 1.5% auto;
}

.success h1 {
  margin-top: 15vh;
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.success-btn {
  margin-top: 5%;
}

/* Content */

section {
  backdrop-filter: blur(5px);
  background-color: var(--white-25);
  border-radius: 10px;
  width: 90%;
  box-shadow: 5px 8px 30px rgb(91, 85, 85);
  padding: 2%;
  margin: 2% auto;
  text-align: center;
}

/* Home */

#home {
  padding: 0 2%;
}

#home h1 {
  margin: 0;
}

#name {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
  font-family: "Sevillana", cursive;
  margin: 0;
}

.b-name {
  margin-bottom: 0;
}

.a-name {
  margin-top: 1%;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.icon {
  width: 30px;
}

.icon:hover {
  color: var(--pink-light);
}

.btn {
  background-color: var(--white-25);
  border: 1px solid var(--white-45);
  border-radius: 15px;
  padding: 0.5% 1.5%;
  cursor: pointer;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.3s ease;
}

.btn:hover {
  color: var(--white);
}

.btn:hover::before {
  width: 100%;
}

/* About */

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--main-color);
}

.about-text {
  text-align: left;
  width: 90%;
  margin: auto;
}

.about-tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  text-align: center;
}

.tab-item {
  color: var(--blue-dark);
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  opacity: 0.6;
  transition: all 0.3s ease;
  margin-top: 1%;
}

.tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}

.tab-item:hover::before {
  width: 100%;
}

.tab-item.active::before {
  width: 100%;
  background-color: var(--main-color);
}

.tab-item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}

.tab-content {
  display: none;
  padding: 2% 0;
}

.tab-content.active {
  display: block;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--main-color);
}

.timeline-item {
  margin-bottom: 3%;
  position: relative;
  padding: 10px 0 0 5%;
}

.timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--main-color);
  left: 0;
  top: 16px;
  border-radius: 40%;
}

.timeline {
  position: relative;
}

.timeline-item .date {
  display: block;
  color: var(--main-color);
  margin: 0 0 10px;
}

h5 {
  font-weight: 500;
  margin: 0;
}

.about-p {
  margin: 0 0 0 2%;
}

.center-btns {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

/* Portfolio */

#portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5% 1%;
  margin-bottom: 10%;
  text-align: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.portfolio-item-thumb {
  background-color: var(--white-25);
  width: 80%;
  padding: 3.5% 0 2% 0;
  border-radius: 10px;
  border: 1px solid var(--white-45);
}

.portfolio-thumb {
  width: 85%;
  border-radius: 10px;
}

.portfolio-item-title {
  margin: 4% 0 2% 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.portfolio-btn {
  padding: 1.3% 3%;
}

.modal,
.portfolio-content-title {
  display: none;
}

/* Portfolio modal popup */
.portfolio-popup {
  position: fixed;
  z-index: 100;
  visibility: hidden;
  width: 100%;
  top: 0;
}

.portfolio-popup.open {
  visibility: visible;
  overflow-y: auto;
  height: 100%;
}

/* .pp-body {
  margin-right: 2%;     when doing  responsive
} */

.pp-heading {
  font-weight: 500;
}

.p-text {
  margin-left: 3%;
}

.pp-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pp-content {
  background-color: var(--white-80);
  padding: 0 1%;
  border-radius: 15px;
  width: 45%;
  border: 1px solid var(--white-80);
}

.modal-content-no-slider {
  margin-left: 1.5%;
}

.p-text-no-slider {
  margin: 1% 2% 1% 1%;
}

.pp-header {
  position: relative;
  text-align: center;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.pp-close {
  float: right;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
  padding: 0;
  height: 0px;
}

.pp-close:hover {
  color: var(--pink-light);
}

.pp-thumbnail {
  margin: auto;
  width: 70%;
}

.pp-thumbnail img {
  width: 100%;
  border-radius: 10px;
}

.pp-header h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 2% 0;
  text-align: center;
  display: inline-block;
  color: var(--main-color);
}

.pp-text {
  margin: 2% 0;
}

.pp-text a {
  color: var(--main-color);
  text-decoration: underline;
}

.accent {
  color: var(--main-color);
  font-weight: 500;
}

.p-link {
  text-decoration: underline;
  color: var(--main-color);
}

/* PP Slider */

.slide {
  width: 91.7%;
  /* height: 80%; */
  display: none;
  border-radius: 10px;
}

.slide-modal {
  width: 98.5%;
  height: 80%;
  border-radius: 10px;
}

.show {
  display: block;
}

.slider {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.next,
.prev {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-color);
  padding: 0;
  font-size: 2rem;
}

.prev:hover,
.next:hover {
  color: var(--pink-light);
}

.demo {
  border-radius: 15px;
  background: linear-gradient(var(--pink-light), var(--main-color));
  color: var(--white);
  border: 2px solid var(--main-color);
  padding: 1%;
  margin-bottom: 1%;
}

.demo:hover {
  background: none;
  background-color: var(--main-color);
}

/* Contact */

#contact {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3% auto;
}

.contact-form,
.contact-info {
  width: 100%;
}

.contact-form > * {
  display: flex;
  flex-direction: column;
}

.input::placeholder {
  color: var(--blue-dark);
  opacity: 0.8;
}

.input {
  display: block;
  border-radius: 10px;
  background-color: var(--white-25);
  padding: 1% 2%;
  color: var(--blue-dark);
  border: 1px solid transparent;
  transition: color 0.3s ease;
  margin-bottom: 2%;
}

.input:focus {
  border: 2px solid var(--pink-light);
  outline: none;
}

textarea {
  height: 120px;
  resize: none;
  padding-top: 15px;
}

.contact-info {
  text-align: left;
  margin-left: 4%;
}

.contact-info-item {
  margin-bottom: 7%;
}

.contact-info-item h3 {
  margin: 0 0 1% 0;
  color: var(--pink-light);
  font-size: 1.2rem;
}

.contact-info-item p {
  margin: 0;
}

.c-icons {
  margin-top: 2%;
}

.c-icon {
  width: 6%;
  margin-right: 2%;
}

.submit {
  padding: 1% 2%;
  margin: 3% auto;
}

.footer {
  background-color: var(--white-25);
}

footer {
  text-align: center;
  position: absolute;
  width: 98%;
}

/* Scrollbar */
body.hide-scrolling {
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Page Loader */
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--white-80);
  backdrop-filter: var(--backdrop-filter-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.page-loader div {
  border: 2px solid transparent;
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 1s linear infinite;
}

.page-loader div:nth-child(1) {
  height: 60px;
  width: 60px;
  border-color: var(--orange);
}

.page-loader div:nth-child(2) {
  height: 45px;
  width: 45px;
  border-color: var(--main-color);
  animation-duration: 1.2s;
}

.page-loader div:nth-child(3) {
  height: 30px;
  width: 30px;
  border-color: var(--blue);
}

@keyframes fade {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    z-index: -100;
    display: none;
    height: 0;
    width: 0;
    display: none;
    clip-path: circle(0);
  }
}

/* Bkg circles */
.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
}

.bg-circles div {
  position: absolute;
}

.bg-circles .circle-1 {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #4cffff;
  left: 2%;
  top: 10%;
  opacity: 0.3;
  animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-2 {
  border-radius: 20%;
  height: 80px;
  width: 80px;
  background-color: #ff1492;
  left: 47%;
  top: 15%;
  opacity: 0.3;
  animation: spin 4s ease-in-out infinite;
}

.bg-circles .circle-3 {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-color: #fffb00;
  right: -100px;
  top: 10%;
  opacity: 0.3;
  animation: bounceY 8s linear infinite;
}

.bg-circles .circle-4 {
  border-radius: 20%;
  height: 80px;
  width: 80px;
  background-color: #0713ee;
  left: -90px;
  top: 80%;
  opacity: 0.3;
  animation: spin 6s ease-in-out infinite;
}

.bg-circles .circle-5 {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  left: 15%;
  top: 48%;
  opacity: 0.3;
  animation: bounceY 5s ease-in-out infinite;
}

.bg-circles .circle-6 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #0ccc0c;
  left: 45%;
  top: 90%;
  opacity: 0.8;
  animation: bounceY 8s ease-in-out infinite;
}

.bg-circles .circle-7 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #ff1427;
  right: 10%;
  bottom: 8%;
  opacity: 0.3;
  animation: bounceX 5s ease-in-out infinite;
}

.bg-circles .circle-8 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #06166d;
  left: 45%;
  top: 50%;
  opacity: 0.3;
  animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-9 {
  border-radius: 20%;
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  right: 15%;
  top: 50%;
  opacity: 0.3;
  animation: spin 5s ease-in-out infinite;
}

/* Bkg circles Animation Keyframes */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes bounceX {
  0%,
  100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MQ */

@media screen and (max-width: 1010px) {
  .pp-content {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  #portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3% 1%;
    margin-bottom: 27%;
  }
  /* .slider {
    width: 96%;
  } */
}

@media screen and (max-width: 670px) {
  #contact {
    flex-direction: column;
    margin: 0 auto;
  }
  .contact-info {
    text-align: center;
    margin: 0;
  }
  .contact-info-item {
    margin-bottom: 3%;
  }
  .contact-info-item h3 {
    margin: 0;
  }
  .pp-inner {
    margin-right: 2%;
  }
  .pp-content {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 13px;
  }
  .section {
    margin: 5% auto;
  }

  .icon {
    width: 20px;
  }
  #portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1% 1%;
    margin-bottom: 60%;
  }
  #contact {
    flex-direction: column;
  }
  /* .slider {
    width: 90%;
  } */
  .timeline-item {
    padding: 10px 0 0 8%;
  }
  .pp-inner {
    margin-right: 3%;
  }
  .pp-content {
    width: 85%;
  }
}
